[Unit]
Description=Squizzitd Server
After=network.target
[Service]
ExecStart=/usr/bin/squizit -version='Server'
Type=forking
Restart=on-failure
User=squizzitd
Group=squizzitd
RuntimeDirectory=squizzitd
RuntimeDirectoryMode=0770
PrivateTmp=true
ProtectSystem=full
ProtectHome=true
NoNewPrivileges=true
PrivateDevices=true
MemoryDenyWriteExecute=true
 
[Install]
WantedBy=multi-user.target